










<h1
  style="margin-left: 4vw; margin-top: 5vh; color: #7ec8e3; text-align: center;"
>
  Complete your profile
</h1>
<div class="container">
  <h1>Registration Form</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <h3>Demographics</h3>
        <div class="mb-3">
          <label for="nameInput" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="nameInput"
            formControlName="demographics.name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="surnameInput" class="form-label">Surname</label>
          <input
            type="text"
            class="form-control"
            id="surnameInput"
            formControlName="demographics.surname"
            required
          />
        </div>
        <div class="mb-3">
          <label for="homeAddressInput" class="form-label">Home Address</label>
          <input
            type="text"
            class="form-control"
            id="homeAddressInput"
            formControlName="demographics.homeAddress"
          />
        </div>
        <div class="mb-3">
          <label for="phoneInput" class="form-label">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phoneInput"
            formControlName="demographics.phoneNumber"
            pattern="^\+?[0-9]{1,3}-?[0-9]{6,12}$"
          />
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            formControlName="demographics.email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="profAddressInput" class="form-label">
            Professional Address
          </label>
          <input
            type="text"
            class="form-control"
            id="profAddressInput"
            formControlName="demographics.professionalAddress"
          />
        </div>
        <div class="mb-3">
          <label for="qualificationsInput" class="form-label">
            Qualifications
          </label>
          <input
            type="text"
            class="form-control"
            id="qualificationsInput"
            formControlName="demographics.qualifications"
          />
        </div>
        <div class="mb-3">
          <label for="aboutYouInput" class="form-label">About You</label>
          <textarea
            class="form-control"
            id="aboutYouInput"
            rows="3"
            formControlName="demographics.aboutYou"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="currentEmployerInput" class="form-label">
            Current Employer
          </label>
          <input
            type="text"
            class="form-control"
            id="currentEmployerInput"
            formControlName="demographics.currentEmployer"
          />
        </div>
        <div class="mb-3">
          <label for="gmcNumberInput" class="form-label">GMC Number</label>
          <input
            type="text"
            class="form-control"
            id="gmcNumberInput"
            formControlName="demographics.gmcNumber"
          />
        </div>
      </div>
      <div class="col-md-6">
        <h3>Professional Experience</h3>
        <div class="mb-3">
          <label for="fieldsOfExpertiseInput" class="form-label">
            Fields of Expertise
          </label>
          <input
            type="text"
            class="form-control"
            id="fieldsOfExpertiseInput"
            formname="fieldsOfExpertise"
            class="form-control"
            id="fieldsOfExpertiseInput"
            required
            formControlName="professionalExp.fieldsOfExpertise"
          />
        </div>

        <!-- ///// 2nd line ----------------------------------------------------------------  -->

        <div class="mb-3">
          <label for="yearsOfExperienceInput" class="form-label">
            Years of Experience
          </label>
          <input
            type="text"
            name="yearsOfExperience"
            class="form-control"
            id="yearsOfExperienceInput"
            formControlName="professionalExp.yearsOfExperience"
          />
        </div>

        <div class="mb-3">
          <label for="keywordsInput" class="form-label">Keywords</label>
          <input
            type="text"
            name="keywords"
            class="form-control"
            id="keywordsInput"
            formControlName="professionalExp.keywords"
          />
        </div>

        <div class="mb-3">
          <label for="numberOfCompletedCasesInput" class="form-label">
            Number of Completed Cases
          </label>
          <input
            type="number"
            name="numberOfCompletedCases"
            class="form-control"
            id="numberOfCompletedCasesInput"
            required
            formControlName="professionalExp.numberOfCompletedCases"
          />
        </div>

        <div class="mb-3">
          <label for="typeOfExpertWorkInput" class="form-label">
            Type of Expert Work
          </label>
          <input
            type="text"
            name="typeOfExpertWork"
            class="form-control"
            id="typeOfExpertWorkInput"
            required
            formControlName="professionalExp.typeOfExpertWork"
          />
        </div>

        <h5>Types of Civil Cases</h5>
        <div class="mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Employment"
              name="civilCases"
              id="civilCasesEmploymentInput"
              formControlName="professionalExp.typesOfCivilCases.civilCaseReportsOptions"
            />
            <label class="form-check-label" for="civilCasesEmploymentInput">
              Employment
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Personal Injury"
              name="civilCases"
              id="civilCasesPersonalInjuryInput"
              formControlName="professionalExp.typesOfCivilCases.civilCaseReportsOptions"
            />
            <label class="form-check-label" for="civilCasesPersonalInjuryInput">
              Personal Injury
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Clinical Negligence"
              name="civilCases"
              id="civilCasesClinicalNegligenceInput"
              formControlName="professionalExp.typesOfCivilCases.civilCaseReportsOptions"
            />
            <label
              class="form-check-label"
              for="civilCasesClinicalNegligenceInput"
            >
              Clinical Negligence
            </label>
          </div>
        </div>

        <h5>Types of Criminal Cases</h5>
        <div class="mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Sexual Offences"
              name="criminalCases"
              id="criminalCasesSexualOffencesInput"
              formControlName="professionalExp.typesOfCriminalCases.criminalCaseReportsOptions"
            />
            <label
              class="form-check-label"
              for="criminalCasesSexualOffencesInput"
            >
              Sexual Offences
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Drug Offences"
              name="criminalCases"
              id="criminalCasesDrugOffencesInput"
              formControlName="professionalExp.typesOfCriminalCases.criminalCasesReportsOptions.DrugOffences"
            />

            <!-- ////////////// 3rd line -------------------------------------------  -->

            <label
              class="form-check-label"
              for="criminalCasesDrugOffencesInput"
            >
              Drug Offences
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Fraud"
              name="criminalCases"
              id="criminalCasesFraudInput"
              formControlName="professionalExp.typesOfCriminalCases.criminalCasesReportsOptions.Fraud"
            />
            <label class="form-check-label" for="criminalCasesFraudInput">
              Fraud
            </label>
          </div>
        </div>

        <div class="mb-3">
          <label for="ratioOfInstructions" class="form-label">
            Ratio of Instructions
          </label>
          <div
            formGroupName="professionalExp.ratioOfInstructions.criminalCases"
          >
            <div class="mb-3">
              <label for="criminalCasesDefenceRatio" class="form-label">
                Criminal Cases Defence Ratio
              </label>
              <input
                type="text"
                class="form-control"
                id="criminalCasesDefenceRatio"
                formControlName="defence"
              />
            </div>
            <div class="mb-3">
              <label for="criminalCasesProsecutionRatio" class="form-label">
                Criminal Cases Prosecution Ratio
              </label>
              <input
                type="text"
                class="form-control"
                id="criminalCasesProsecutionRatio"
                formControlName="prosecution"
              />
            </div>
          </div>
          <div formGroupName="professionalExp.ratioOfInstructions.civilCases">
            <div class="mb-3">
              <label for="civilCasesDefendantRatio" class="form-label">
                Civil Cases Defendant Ratio
              </label>
              <input
                type="text"
                class="form-control"
                id="civilCasesDefendantRatio"
                formControlName="defendant"
              />
            </div>
            <div class="mb-3">
              <label for="civilCasesClaimantRatio" class="form-label">
                Civil Cases Claimant Ratio
              </label>
              <input
                type="text"
                class="form-control"
                id="civilCasesClaimantRatio"
                formControlName="claimant"
              />
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="courtAppearances" class="form-label">
            Court Appearances
          </label>
          <div formGroupName="professionalExp.courtAppearances">
            <div class="mb-3">
              <label for="numberOfAppearancesInput" class="form-label">
                Number of Appearances
              </label>
              <input
                type="text"
                class="form-control"
                id="numberOfAppearancesInput"
                formControlName="numberOfAppearances"
              />
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="faceToFace"
                name="courtAppearances"
                id="faceToFaceInput"
                formControlName="faceToFace"
              />
              <label class="form-check-label" for="faceToFaceInput">
                Face-to-face
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="jointInstructions"
                name="courtAppearances"
                id="jointInstructionsInput"
                formControlName="jointInstructions"
              />
              <label class="form-check-label" for="jointInstructionsInput">
                Joint Instructions
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="externalVetting"
                name="courtAppearances"
                id="externalVettingInput"
                formControlName="externalVetting"
              />
              <label class="form-check-label" for="externalVettingInput">
                External Vetting
              </label>
            </div>
            <div class="mb-3">
              <label for="externalVettingDetailsInput" class="form-label">
                Details of External Vetting
              </label>
              <textarea
                class="form-control"
                name="externalVettingDetails"
                id="externalVettingDetailsInput"
                rows="3"
                formControlName="externalVettingDetails"
              ></textarea>
            </div>

            <h4>Rate</h4>
            <div class="mb-3">
              <label for="writingReportInput" class="form-label">
                Writing Report
              </label>
              <input
                type="text"
                class="form-control"
                id="writingReportInput"
                formControlName="rate.writingReport"
              />
            </div>

            <div class="mb-3">
              <label
                for="activitiesOutOfOriginalInstructionInput"
                class="form-label"
              >
                Activities Out of Original Instruction
              </label>
              <input
                type="text"
                class="form-control"
                id="activitiesOutOfOriginalInstructionInput"
                formControlName="rate.activitiesOutOfOriginalInstruction"
              />
            </div>

            <div class="mb-3">
              <label for="attendingCourtInput" class="form-label">
                Attending Court
              </label>
              <input
                type="text"
                class="form-control"
                id="attendingCourtInput"
                formControlName="rate.attendingCourt"
              />
            </div>

            <div class="mb-3">
              <label for="travellingTimeInput" class="form-label">
                Travelling Time
              </label>
              <input
                type="text"
                class="form-control"
                id="travellingTimeInput"
                formControlName="rate.travellingTime"
              />
            </div>

            <div class="mb-3">
              <label for="classOfPublicTravelInput" class="form-label">
                Class of Public Travel
              </label>
              <select
                class="form-select"
                aria-label="Class of Public Travel"
                id="classOfPublicTravelInput"
                formControlName="rate.classOfPublicTravelOptions"
              >
                <option value="">-- Please Select --</option>
                <option value="First Class">First Class</option>
                <option value="Business Class">Business Class</option>
                <option value="Economy Class">Economy Class</option>
              </select>
            </div>

            <h4>Court Cancellation</h4>
            <div class="mb-3">
              <label for="noFeeDaysNoticeInput" class="form-label">
                Number of Days' Notice for No Fee
              </label>
              <input
                type="number"
                class="form-control"
                id="noFeeDaysNoticeInput"
                formControlName="courtCancellation.noFeeDaysNotice"
              />
            </div>

            <div class="mb-3">
              <h5>Fee for Days' Notice 1</h5>
              <div class="mb-3">
                <label for="daysNotice1Input" class="form-label">
                  Days' Notice
                </label>
                <input
                  type="number"
                  class="form-control"
                  id="daysNotice1Input"
                  formControlName="courtCancellation.feeDaysNotice1.daysNotice"
                />
              </div>
              <div class="mb-3">
                <label for="feeAmount1Input" class="form-label">
                  Fee Amount
                </label>
                <input
                  type="number"
                  class="form-control"
                  id="feeAmount1Input"
                  formControlName="courtCancellation.feeDaysNotice1.feeAmount"
                />
              </div>
            </div>

            <div class="mb-3">
              <h5>Fee for Days' Notice 2</h5>
              <div class="mb-3">
                <label for="feeDaysNotice2" class="form-label">
                  Days' Notice
                </label>
                <input
                  type="number"
                  class="form-control"
                  id="feeDaysNotice2"
                  name="feeDaysNotice2"
                  formControlName="professionalExp.courtCancellation.feeDaysNotice2.daysNotice"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="feeAmount2" class="form-label">Fee Amount</label>
                <input
                  type="number"
                  class="form-control"
                  id="feeAmount2"
                  name="feeAmount2"
                  formControlName="professionalExp.courtCancellation.feeDaysNotice2.feeAmount"
                  required
                />
              </div>
            </div>
            <div class="mb-3 form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="yes"
                name="offerFreeConsultation"
                id="offerFreeConsultationInput"
                formControlName="professionalExp.courtCancellation.offerFreeConsultation"
              />
              <label class="form-check-label" for="offerFreeConsultationInput">
                Offer free consultation?
              </label>
            </div>
            <div class="mb-3">
              <label for="freeTimeLimitInput" class="form-label">
                Free time limit (in minutes)
              </label>
              <input
                type="number"
                class="form-control"
                id="freeTimeLimitInput"
                name="freeTimeLimit"
                formControlName="professionalExp.courtCancellation.freeTimeLimit"
              />
            </div>
            <h5>Organization Details</h5>
            <div class="mb-3 form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="yes"
                name="servicesThroughOrganization"
                id="servicesThroughOrganizationInput"
                formControlName="professionalExp.orgDetails.servicesThroughOrganization"
              />
              <label
                class="form-check-label"
                for="servicesThroughOrganizationInput"
              >
                Do you offer your services through an organization?
              </label>
            </div>
            <div class="mb-3">
              <label for="nameOfOrgInput" class="form-label">
                Name of the Organization
              </label>
              <input
                type="text"
                class="form-control"
                id="nameOfOrgInput"
                name="nameOfOrg"
                formControlName="professionalExp.orgDetails.nameOfOrg"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="yes"
                name="vatChargeOption"
                id="vatChargeOptionInput"
                formControlName="professionalExp.orgDetails.vatChargeOption"
              />
              <label class="form-check-label" for="vatChargeOptionInput">
                Do you charge VAT?
              </label>
            </div>
            <div class="mb-3">
              <label for="vatNumberInput" class="form-label">VAT Number</label>
              <input
                type="text"
                class="form-control"
                id="vatNumberInput"
                name="vatNumber"
                formControlName="professionalExp.orgDetails.vatNumber"
              />
            </div>
            <h5>Payment Terms</h5>
            <div class="mb-3 form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="yes"
                name="preTrialWorkForPubliclyFundedCasesOption"
                id="preTrialWorkForPubliclyFundedCasesOptionInput"
                formControlName="professionalExp.paymentTerms.preTrialWorkForPubliclyFundedCasesOption"
              />
              <label
                class="form-check-label"
                for="preTrialWorkForPubliclyFundedCasesOptionInput"
              >
                Do you undertake any pre-trial work for publicly funded cases?
              </label>
            </div>
            <div class="mb-3">
              <label for="noOfDaysForOtherWorkInput" class="form-label">
                Number of days for payment for other work
              </label>
              <input
                type="number"
                class="form-control"
                id="noOfDaysForOtherWorkInput"
                formControlName="professionalExp.paymentTerms.noOfDaysForOtherWork"
              />
            </div>
            <div class="mb-3">
              <label for="latePaymentInterestRateInput" class="form-label">
                Late Payment Interest Rate
              </label>
              <input
                type="text"
                class="form-control"
                id="latePaymentInterestRateInput"
                formControlName="professionalExp.paymentTerms.latePaymentInterestRate"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">
                Are you a Data Controller or Data Processor?
              </label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dataControllerOrProcessor"
                  id="dataControllerInput"
                  value="Data Controller"
                  formControlName="professionalExp.paymentTerms.dataControllerOrProcessorOption"
                />
                <label class="form-check-label" for="dataControllerInput">
                  Data Controller
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dataControllerOrProcessor"
                  id="dataProcessorInput"
                  value="Data Processor"
                  formControlName="professionalExp.paymentTerms.dataControllerOrProcessorOption"
                />
                <label class="form-check-label" for="dataProcessorInput">
                  Data Processor
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label for="cvInput" class="form-label">CV Upload</label>
              <input
                type="file"
                class="form-control"
                id="cvInput"
                formControlName="professionalExp.cv"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
